@charset "UTF-8";

 
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-user:before { content: '👤'; } /* '\1f464' */